/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

:root{
    --big-width:1200px;
}

/* Generics */

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    height: 600px;
}

ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    margin: 0 20px;    
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer{
    background-color: #23272A;
}

hr{
    color: white;
    margin-top: 40px;
}

/* header element */

.header-top{
    display: flex;
    justify-content: center;
}

.container-box{
    width: var(--big-width);
    display: flex;
    height: 40px;
    margin: 20px 0;
    align-items: flex-start;
}

.box{
    font-size: 15px;
    padding: 10px;
}

.lateral{
    flex-basis: 20%;
}

.central{
    flex-basis: 60%;
}

.log-right{
    text-align: right;
}

.login{
   background-color: white;
   color: black;
   padding: 10px;
   border-radius: 20px;
}

.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

}

.jumbotron-element > *{
    padding: 26px 30px;
}

.jumbo-title{
    font-size: 60px;
}

.jumbotron-element{
    line-height: 35px;
    color: white;
    flex-basis: 45%;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.jumbo-buttom{
    margin:0 25px;
    border-radius: 30px;
    padding: 20px 40px;
    line-height: 100px;
}
    
.dx::before{
    content: "\1F817";
    padding-right: 20px;    
} 

.dx{
    background-color: white;
    color: black;
}

.sx{
    background-color: black;
}

.header-bottom{
    padding: 5px 0;
}

/* main */

.section-row{
    display: flex;
    justify-content: center;
}

.row{
    width: var(--big-width);
    display: flex;
    padding: 40px 0;
}

.row-element{
    height: 500px;
    border: 3px dashed black;
}

.big-element{
    flex-basis: 60%;
    background-color: #1E90FF;
}

.small-element{
    flex-basis: 40%;
    background-color: #FFC0CB;
}

.dark-bg{
    background-color: #D3D3D3 ;
}

.last-row-element{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 100%;
    height: 900px;
    border: 3px dashed black;
    background-color: #228B22;
}

/* footer */

.top-footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.foot-container{
    width: var(--big-width);
    display: flex;
}



.foot-box{
    height: 500px;
    border: 3px dashed red;
}

.left-foot{
    flex-basis: 30%;
    background-color: #F08080;
}

.right-foot{
    flex-basis: 70%;
    background-color: #20B2AA;
    display: flex;
}

.right-foot-element{
    border: 2px dashed white;
    flex-basis: calc(100% / 4 );
}

.bottom-footer{
    display: flex;
    justify-content: center;
}

.bottom-foot-element{
    background-color: #FFB6C1;
    border: 2px dashed black;
    padding: 10px;
    font-size: 25px;
}

.bottom-info{
    background-color: #7FFFD4;
    width: var(--big-width);
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-top: 30px;
}